.noteaddermainbody {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0e0c7c;
  height: 100%;
  overflow: hidden;
}
.arrowback.notesadders {
  margin-right: 1em;
}
.noteaddermainbody .initialsff {
  color: #ffffff; 
}

.NotesaddContainer {
  flex-grow: 1;
  overflow-y: auto; 
  background-color: #f7ecdc;
  padding: 1em;
  max-height: 60vh;
}

.NotesaddContainer::-webkit-scrollbar {
  width: 8px;
}

.NotesaddContainer::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}

.NotesaddContainer::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}

.timeandnotes {
  display: flex;
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: 1em;
}
.timeadder {
  margin-left: 1em;
  font-weight: 600;
  width: min-content;
}
.timeaddernone {
  display: flex;
  width: 65%;
  margin-left: 1em;
  margin-right: 1em;
}
.formofnotes {
  position: relative;
}
.notestext {
  padding: 3%;
  font-size: large;
  margin: auto 5%;
  width: 90%;
  height: 10em;
  border-radius: 10px;
}
.notesbutton {
  background-color: transparent;
  outline: transparent;
  border: transparent;
  position: absolute;
  right: 25px;
  bottom: 10px;
}
.bydeftextarea {
  display: none;
}

.noteBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 1em;
  margin: 1em 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.noteText {
  font-size: 1rem;
  color: #333;
  text-align: left;
}

.noteTimestamp {
  font-size: 0.8rem;
  color: #000;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  display: flex;
  align-items: center;
}

.dotSeparator {
  font-size: 4.5rem;
  line-height: 0;
  margin: 0 0.5em;
}

@media only screen and (min-width: 701px) {
  .noteaddermainbody {
    display: flex;
    height: 97%;
    border-bottom-left-radius: 2em;
    width: fill;
  }
  .arrowback.notesadders {
    height: fit-content;
    width: 25px;
    margin: auto 1em;
    z-index: 0;
  }
  #imgarr {
    vertical-align: middle;
    width: inherit;
  }
  
  .NotesaddContainer {
    flex-grow: 1;
    background-color: #f7ecdc;
    padding: 1em;
  }
  
  .timeandnotes {
    display: flex;
    overflow: hidden;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .timeadder {
    margin-left: 1em;
    font-weight: 600;
    width: min-content;
  }
  .timeaddernone {
    display: flex;
    width: 65%;
    margin-left: 1em;
    margin-right: 1em;
  }
  .formofnotes {
    margin: 1em;
    position: relative;
  }
  .notestext {
    padding: 1em;
    font-size: large;
    margin: auto 1%;
    width: fill;
    height: 10em;
    border-radius: 10px;
  }
  .notesbutton {
    background-color: transparent;
    outline: transparent;
    border: transparent;
    position: absolute;
    font-size: x-large;
    right: 25px;
    bottom: 15px;
  }

  .notesbutton.active img {
    filter: brightness(0) saturate(100%) invert(25%) sepia(83%) saturate(5000%)
      hue-rotate(200deg) brightness(95%) contrast(100%);
  }

  .bydeftextarea {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: transparent;
    width: fill;
    height: fill;
  }
  .bydeftextarea1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #f7ecdc;
    width: fill;
    height: fill;
    z-index: 1;
  }
  .bg-info {
    width: min-content;
  }
  .Sidebarmain {
    display: flex; 
  }
}
